<body>
    <div class="container-fluid">
        
    
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Iniciar sesión</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="nombre de usuario" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="contraseña" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-success btn-large btn-block" href="#">Enviar</a>
			</div>
		</div>
	</div>
    </div>
</body>
