
<body>
    <div class="container-fluid">
        <div class="header w-100 mt-3 text-center">
          <div class="cabecera">
            <div class="titulo">Productos </div>
          </div>
        </div>
        <div class="botones">
          <button class="btn btn-success my-3"><a routerLink="../agregar-producto">Agregar producto</a></button>
          <button class="btn btn-primary my-3" *ngIf="productos.length>0"><a routerLink="../agregar-reporte">Agregar reporte</a></button>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                  <tr> 
                  <th scope="col">P#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Foto de producto</th>
                
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr *ngFor="let producto of productos; let i = index"> 
                   <td>{{i+1}}</td>
                    <td colspan>{{producto.nombreproducto}}</td>
                    <td colspan><a class="btn btn-secondary" (click)="triggerModal(modalData2)" (click)="showImagen(producto)"><i class="fa fa-image"></i></a></td>
                  
                    <td>
                        <a class="btn btn-warning col-sm-9 my-1" (click)="triggerModal(modalData)" (click)="showProducto(producto)" ><i class="fa fa-edit"></i></a>
                        <br>
                        <a class="btn btn-danger col-sm-9" (click)="borrar(producto)" ><i class="fa fa-trash"></i></a>
                       
                    </td>
                  </tr>    
                </tbody>
              </table>
       
          
        </div>
    
      
    </div>

    
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar grupo de producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
 <form #grupoForm="ngForm" >
     <div class="form-group">
         <label for="my-input">Nombre de producto</label>
         <input id="my-input" [(ngModel)]="productoSelected.nombreproducto" class="form-control" type="text" name="nombreproducto">
     </div>
     <div class="form-group">
        <label for="my-input">Foto de producto actual</label>
        <img name="fotoproducto" src="{{fotoProducto.fotoproducto}}">
        <input id="my-input"  class="form-control" type="file" alife-file-to-base64 (onFileChanged)="onFileChanges($event)" [(ngModel)]="productoSelected.fotoproducto" name="fotoproducto">
    </div>
    <div class="form-group">
      <label for="my-input">Seleccione el grupo al que pertenece el producto</label>
                <select  name="idgrupoproducto"  [ngModel]="idgrupoproducto"  (ngModelChange)="GrupoID($event)" class="custom-select">
                    <option *ngFor="let grup of grupos" [value]=grup.idgrupo>{{grup.nombregrupo}}</option>
                  </select>
    </div>
 </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"(click)="modificarProducto(productoSelected)" (click)="modal.close('Save click')">Guardar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancelar</button>
</div>
</ng-template>



<ng-template #modalData2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Imagen del producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #grupoForm="ngForm" >
      <div class="form-group">
          <label for="my-input"></label>
          <img name="fotoproducto" src="{{productoSelected.fotoproducto}}"> 
        </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
</div>
</ng-template>

    
    <div class="btn-up" id="button-up">
      <i class="fas fa-chevron-up"></i>
    </div>
    
    
    </body>
