
<body>
    <div class="container-fluid">
        <div class="header w-100 mt-3 text-center">
          <div class="cabecera">
            <div class="titulo">Publicaciones</div>
          </div>
        </div>
        <div class="botones">
          <button class="btn btn-success my-3"><a routerLink="../agregar-publicacion">Agregar publicación</a></button>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                  <tr> 
                  <th scope="col">P#</th>
                    <th scope="col">Contenido</th>
                    <th scope="col">Foto de producto</th>
                    <th scope="col">Título</th>
                    <th scope="col">Fecha de publicación</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr *ngFor="let publicacion of publicaciones; let i = index"> 
                   <td>{{i+1}}</td>
                   <td colspan><a class="btn btn-info" (click)="triggerModal(modalData3)" (click)="showDescripcion(publicacion)"><i class="fa fa-eye"></i></a></td>
                   <td colspan><a class="btn btn-secondary" (click)="triggerModal(modalData2)" (click)="showImagen(publicacion)"><i class="fa fa-image"></i></a></td>
                    <td colspan>{{publicacion.titulopublicacion}}</td>
                    <td colspan>{{publicacion.fechapublicacion}}</td>
                   
                    <td>
                        <a class="btn btn-warning col-sm-9 my-1" (click)="triggerModal(modalData)" (click)="showPublicacion(publicacion)" ><i class="fa fa-edit"></i></a>
                        <br>
                        <a class="btn btn-danger col-sm-9" (click)="borrar(publicacion)" ><i class="fa fa-trash"></i></a>
                       
                    </td>
                  </tr>    
                </tbody>
              </table>
       
          
        </div>
    
      
    </div>

    
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar publicación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
 <form #grupoForm="ngForm" >
     <div class="form-group">
         <label for="my-input">Contenido de la publicación</label>
         <textarea   [(ngModel)]="publicacionSelected.contenidopublicacion"  name="contenidopublicacion" class="form-control" id="textAreaExample1" rows="4"></textarea>
        </div>
     <div class="form-group">
        <label for="my-input">Foto de publicación</label>
        <img name="fotoproducto" src="{{fotoPublicacion.fotopublicacion}}">
        <input id="my-input"  class="form-control" type="file" alife-file-to-base64 (onFileChanged)="onFileChanges($event)" [(ngModel)]="publicacionSelected.fotopublicacion" name="fotopublicacion">
    </div>

    <div class="form-group">
        <label for="my-input">Título de la publicación</label>
        <input id="my-input" [(ngModel)]="publicacionSelected.titulopublicacion" class="form-control" type="text" name="titulopublicacion">
    </div>
    <!-- <div class="form-group"> Vendra automaticamente desde la
        <label for="my-input">Fecha de la publicación</label>
        <input id="my-input" [(ngModel)]="publicacionSelected.fechapublicacion" class="form-control" type="text" name="fechapublicacion">
    </div> -->
 </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"(click)="modificarPublicacion(publicacionSelected)" (click)="modal.close('Save click')">Guardar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancelar</button>
</div>
</ng-template>




<ng-template #modalData3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Descripción de la publicación</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #grupoForm="ngForm">
      <div class="form-group">
        <label for="my-input"></label>
        <textarea   [(ngModel)]="publicacionSelected.contenidopublicacion"  name="contenidopublicacion" class="form-control" id="textAreaExample1" rows="4"></textarea>
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
</div>
</ng-template>



<ng-template #modalData2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Imagen del producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #grupoForm="ngForm" >
      <div class="form-group">
          <label for="my-input"></label>
          <img name="fotopublicacion" src="{{publicacionSelected.fotopublicacion}}"> 
        </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
</div>
</ng-template>

    
    <div class="btn-up" id="button-up">
      <i class="fas fa-chevron-up"></i>
    </div>
    
    
    </body>
