body{
    margin-left: 55px;
    margin-right: 55px;
}

.header{
    height: 100px;
    background: #e9ecef;
}

.header .titulo{
    padding-top:30px;
}

.botones{
    text-align: center;
}
.botones button, .botones button a{
    font-size: 14px;
    font-weight: 600;
    color:white;
    text-decoration: none;
}

.cabecera .titulo{
    font-size:32px;
    font-weight: 500;
    text-align: initial;
    border-bottom: solid 10px;
    border-image: url(../../../../assets/img/barra-degradado-autoridades.png) 0 0 10;
    border-image: url(../../../../assets/img/barra-degradado-autoridades.png) 0 0 10;
    border-image: url(../../../../assets/img/barra-degradado-autoridades.png) 0 0 10;
    border-image-repeat: stretch;
}

.container-fluid{
    background: #e9ecef;
    flex-flow: row wrap;
}

.table{
    font-size: 14px;
}

.table tbody tr th{
    text-align: center;
}

.table thead tr th{
    text-align: center;
}

.table tbody tr td{
    text-align: center;
}

.contentImg img{
    max-width: 100%;
    /* height: 200px;
    width: 250px; */
}

img{
    height: 200px;
    width: 250px;
}


#button-up{
    z-index: 6;
    width:60px;
    height: 60px;
    background:#65B420;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    border-radius:50%;
    font-size: 20px;
    position: fixed;
    bottom:60px;
    right:60px;
    cursor:pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform:scale(0);
}


#button-up:hover{
    transform: scale(1.1);
    border-color:rgba(0,0,0,0.1);
}


/* @media  screen and (min-width:768px){
    img{
        height: 200px;
        width:250px;
    }
} */

@media screen and (max-width:520px){
    body{
       margin-left:0;
       margin-right: 0;
    }
}

@media screen and (max-width:720px){

    #button-up{
     right: calc(46%);
    }

}

@media screen and (max-width:480px){

    #button-up{
     right: calc(43%);
    }

}